{% extends 'base.html' %}

{% block content %}
<div class="container mt-2 p-3">

    {% if form.errors %}
        {% for key, value in form.errors.items %}
            <div class="alert alert-danger">
                {{ value }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container border border-lightgrey justify-content-md-center p-3 pb-2 mb-2" style="width:450px">
        <svg class="text-center mb-1"><text x="110" y="85" class="Rrrrr" style="font:40px Monaco; fill: #007bff;">MeConnect</text></svg>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <button class="btn btn-primary w-100 font-weight-bold" type="submit">Sign Up</button>
        </form>
    </div>
    
    <div class="container border border-lightgrey justify-content-md-center p-3 text-center mt-2" style="width:450px">
        Alreay have an account <a href="{% url 'login' %}" class="font-weight-bold text-muted">Login</a>
    </div>
</div>

{% endblock content %}
